@font-face {
    font-family: 'helvetica_neue';
    src: url('/fonts/HelveticaNeue//helveticaneuelight-webfont.woff2') format('woff2'),
         url('/fonts/HelveticaNeue/helveticaneuelight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap');

:root {
    --clr-light: #e2e8f0;
    --clr-dark: #18181b;

    --clr-slate: #334155;
    --clr-slatedark: #0f172a;

    --clr-main: #be123c;
    --clr-main-dark: #4c0519;
}

body {
    background-color: var(--clr-slate);
    color: var(--clr-light);
}

#navbar {
    background-color: var(--clr-slatedark);
    position: sticky;
    margin: 20px auto;
    padding: 10px;
    max-width: 1800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#nav_list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}